/* Esto es una prueba para comprobar si esta ligado el Css a nuestro index :) */
/* body {
    background: red;
} */
h1 {
    color: cyan;
}
h2 {
    color: purple;
}
.h2-rojo{
    color: red
}
.imagen-chica{
        height: 200 px;
        width: auto;

    }
