.cajadeadevis{border: 5px  solid magenta;
height: 200px;
display: flex;}
.cajamadre{ border: 5px solid purple;
    height: 100px;
    display: flex;

}
.padre {
    /* display: 5px flex; */
    border: 2px solid red;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.madre { border: 3px solid green;
height:25px ;
width: 20px;
display: flex;
align-items: flex-start;
justify-content: center;}

.hijo{border: 3px solid blue;
height: 24px;
width: 5px;
}
.sobrino{ border:3px solid pink;
height: 25px;
width: 5px;}
.nieto {border:3px solid purple;
height:25px ;
width: 5px;}
